.header {
  width: 200px;
  height: 200px;
  background-color: pink;
}
.header a {
  color: red;
}
.header:hover {
  color: blue;
}
.nav .logo {
  color: #000;
}
.nav::after {
  content: "";
  color: red;
}
