<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<button class="get">获取数据</button>
<button class="post">添加数据</button>
<button class="put">修改数据</button>
<button class="delete">删除数据</button>
<!--<script src="/js/axios.min.js"></script>-->
<script >
    //get方法返回值是一个promise对象
    // axios.get("/fruits").then(res => {
    //     console.log(res.data);
    // })
    // document.querySelector(".get").onclick = function (){
    //     axios.get("/fruits").then(res => {
    //         console.log(res.data);
    //     })
    // }
    //
    // document.querySelector(".post").onclick = function (){
    //     axios.post("/fruits",{
    //         fruit:"草莓"
    //     }).then(res => {
    //         console.log(res.data);
    //     })
    // }
    //
    // document.querySelector(".put").onclick = function (){
    //     axios.put("/fruits/1",{
    //         fruit:"西瓜"
    //     }).then(res => {
    //         console.log(res.data);
    //     })
    // }
    //
    // document.querySelector(".delete").onclick = function (){
    //     axios.delete("/fruits/0").then(res => {
    //         console.log(res.data);
    //     })
    // }
</script>

<script src="/js/jquery.min.js"></script>
<script >
    $(".get").click(function (){
        $.ajax({
            url:"/fruits",
            type:"get"
        }).done(res => {
            console.log(res,"jQuery的ajax方法");
        })
    })
</script>
</body>
</html>